@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.container {
    border: 2px solid #000;
    background-color: green;
    display: flex;

}

.container .item {
    border: 2px solid #000;
    background-color: yellow;
}
.container .item:nth-child(1){
    order: 3;
}
.container .item:nth-child(2){
    order: 2;
}
.container .item:nth-child(3){
    order: 1;
}
